docopt==0.6.2
Glymur==0.12.7
scikit-image==0.19.3
scikit-learn==0.24.2
termcolor==1.1.0
psycopg2-binary==2.9.6
cucim
monai==1.1.0
itk-io
pytorch-ignite
fastapi[all]
vtk
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0